.btn {
    border-color: $color3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.277);
    background-color: $color2;

    &:hover {
        background-color: $color3;
        border: 1px solid $color3;
    }

    &:active {
        background-color: #858278;
    }

    &:focus {
        box-shadow: 0px 0px 5px black;
    }

    a {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
        text-decoration: none;
        color: $color4;

    }
}

.button-green {
    border: none;
    background-color: $color1;
    border-radius: 5px;
    width: 35%;
    box-shadow: 0px 0px 2px black;
    font-size: 16px;
    height: 25px;
    color: $color4;

    a {
        color: $color4;
        text-decoration: none;
    }

    &:hover {
        background-color: $color5;
    }
}


