.box-upline-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .upline {
                position: relative;

                &::after {
                        content: "";
                        width: 70%;
                        height: 1px;
                        background-color: $color1;
                        position: absolute;
                        transform-origin: center;
                        transform: scale(0);
                        left: 15%;
                        right: 0;
                        top: -5px;
                        transition: transform 0.5s ease;

                }

                &:hover::after {
                        transform: scale(1);
                }
        }

        i {
                font-size: 25px;
                color: $color1;
                bottom: 65px;
                display: none;
                position: absolute;
                justify-self: flex-start;
                transform: scale(1);
                transition: 2s ease-in;
        }

        &:hover {
                i {
                        display: block;
                }
        }
}

.kyomu-logo-text {
        font-family: 'Architects Daughter', cursive;
        color: $color1;
        font-size: 20px;
        font-weight: lighter;

        span {
                font-family: inherit;
                margin-left: -5px;
        }
}